<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tab效果演示</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link href="https://cdn.bootcss.com/Swiper/4.1.6/css/swiper.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <div id="myApp" v-cloak>
    <div id="top">
      <!-- tab nav 容器[D0102] -->
      <div class="m-tab swiper-container" id="nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide"
          v-if="mTab.nav.length > 0"
          v-for="(item, index) in mTab.nav"
          v-key="index">
            <span>{{item}}</span>
          </div>
          <div class="bar">
            <div class="color"></div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>  

    <!-- 内容容器[D0102] -->
    <div class="m-content swiper-container" id="page">
      <div class="swiper-wrapper">
        <div class="swiper-slide slidepage"
         v-if="mTab.con.length > 0"
         v-for="(item, index) in mTab.con"
         v-key="index">
            {{item}}
        </div>
      </div>
    </div>
    <!-- End -->

  </div>


  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/Swiper/4.1.6/js/swiper.js"></script>
  <script>
    /* [D0102] */
    new Vue({
      el: '#myApp',
      data: {
        mTab: {
          // nav: ['热卖', '水果', '乳品', '零食', '肉蛋', '蔬菜', '酒饮', '速食', '水产', '粮油'],
          // con: ['内容1内容1内容1内容1', '内容2内容2内容2内容2', '内容3内容3内容3内容3', 
          //       '内容4内容4内容4内容4', '内容5内容5内容5内容5', '内容6内容6内容6内容6',
          //       '内容7内容7内容7内容7', '内容8内容8内容8内容8', '内容9内容9内容9内容9',
          //       '内容10内容10内容10内容10'
          // ]
        }
      },
      mounted() {
        // TODO: 模拟异步获取数据
        setTimeout(() => {
          const mockData = {
            nav: ['热卖', '水果', '乳品', '零食', '肉蛋', '蔬菜', '酒饮', '速食', '水产', '粮油'],
            con: ['内容1内容1内容1内容1', '内容2内容2内容2内容2', '内容3内容3内容3内容3', 
                  '内容4内容4内容4内容4', '内容5内容5内容5内容5', '内容6内容6内容6内容6',
                  '内容7内容7内容7内容7', '内容8内容8内容8内容8', '内容9内容9内容9内容9',
                  '内容10内容10内容10内容10'
            ]
          };
          this.mTab = mockData;
          this.$nextTick(() => {
            swiperHandler();
          });
        }, 1000);
      }
    });
  </script>
  <script>
    const swiperHandler = () => {
      /**
      * [D0101]
      */
      //暂时设计每个slide大小需要一致
      var barwidth = 36, //导航粉色条的长度px
        tSpeed = 300, //切换速度300ms
        navSum = 0;
      var navSwiper = new Swiper('#nav', {
        slidesPerView: 6,
        freeMode: true,
        on: {
          /**
          * 初始化后执行
          * @desc this.slide：为当前容器的.swiper-slide构成的所有dom对象
          * @desc this.$el： 当前容器dom对象
          * @desc [API文档](http://www.swiper.com.cn/usage/index.html)
          * @desc [Swiper中的Dom7和Dom](http://www.swiper.com.cn/usage/dom7/index.html)
          * @desc [offsetLeft MDN](https://developer.mozilla.org/zh-CN/docs/Web/API/HTMLElement/offsetLeft)
          */
          init: function () {
            navSlideWidth = this.slides.eq(0).css('width'); //导航字数需要统一,每个导航宽度一致
            bar = this.$el.find('.bar');
            bar.css('width', navSlideWidth);
            bar.transition(tSpeed); // 设置transition-duration属性
            navSum = this.slides[this.slides.length - 1].offsetLeft; //最后一个slide的位置

            clientWidth = parseInt(this.$wrapperEl.css('width')) //Nav的可视宽度
            navWidth = 0
            for (i = 0; i < this.slides.length; i++) {
              navWidth += parseInt(this.slides.eq(i).css('width'))
            }

            topBar = this.$el.parents('body').find('#top') // 页头

          },

        },
      });

      var pageSwiper = new Swiper('#page', {
        watchSlidesProgress: true,
        resistanceRatio: 0,
        on: {
          touchMove: function () {
            progress = this.progress
            bar.transition(0)
            bar.transform('translateX(' + navSum * progress + 'px)')
            //粉色255,72,145灰色51,51,51
            for (i = 0; i < this.slides.length; i++) {
              slideProgress = this.slides[i].progress
              if (Math.abs(slideProgress) < 1) {
                r = Math.floor((255 - 51) * (1 - Math.pow(Math.abs(slideProgress), 2)) + 51)
                g = Math.floor((72 - 51) * (1 - Math.pow(Math.abs(slideProgress), 2)) + 51)
                b = Math.floor((145 - 51) * (1 - Math.pow(Math.abs(slideProgress), 2)) + 51)
                navSwiper.slides.eq(i).find('span').css('color', 'rgba(' + r + ',' + g + ',' + b + ',1)')
              }
            }
          },
          transitionStart: function () {
            activeIndex = this.activeIndex
            activeSlidePosition = navSwiper.slides[activeIndex].offsetLeft
            //释放时导航粉色条移动过渡
            bar.transition(tSpeed)
            bar.transform('translateX(' + activeSlidePosition + 'px)')
            //释放时文字变色过渡
            navSwiper.slides.eq(activeIndex).find('span').transition(tSpeed)
            navSwiper.slides.eq(activeIndex).find('span').css('color', 'rgba(255,72,145,1)')
            if (activeIndex > 0) {
              navSwiper.slides.eq(activeIndex - 1).find('span').transition(tSpeed)
              navSwiper.slides.eq(activeIndex - 1).find('span').css('color', 'rgba(51,51,51,1)')
            }
            if (activeIndex < this.slides.length) {
              navSwiper.slides.eq(activeIndex + 1).find('span').transition(tSpeed)
              navSwiper.slides.eq(activeIndex + 1).find('span').css('color', 'rgba(51,51,51,1)')
            }
            //导航居中
            navActiveSlideLeft = navSwiper.slides[activeIndex].offsetLeft //activeSlide距左边的距离

            navSwiper.setTransition(tSpeed)
            if (navActiveSlideLeft < (clientWidth - parseInt(navSlideWidth)) / 2) {
              navSwiper.setTranslate(0)
            } else if (navActiveSlideLeft > navWidth - (parseInt(navSlideWidth) + clientWidth) / 2) {
              navSwiper.setTranslate(clientWidth - navWidth)
            } else {
              navSwiper.setTranslate((clientWidth - parseInt(navSlideWidth)) / 2 - navActiveSlideLeft)
            }

          },
        }
      });

      navSwiper.$el.on('touchstart', function (e) {
        e.preventDefault() //去掉按压阴影
      });
      /**
      * 点击nav处理回调
      */
      navSwiper.on('tap', function (e) {
        clickIndex = this.clickedIndex
        clickSlide = this.slides.eq(clickIndex)
        pageSwiper.slideTo(clickIndex, 0);
        this.slides.find('span').css('color', 'rgba(51,51,51,1)');
        clickSlide.find('span').css('color', 'rgba(255,72,145,1)');
      });
    }
  </script>
</body>

</html>